# Python
venv/
__pycache__/
*.pyc

# ChromaDB
backend/chroma_db/
backend/.bedrock_agentcore/**

# Environment
.env

# VS Code
.vscode/

# Node
node_modules/

# React build
frontend/build/

# Test files
backend/test_bedrock.py
backend/test-listmodels.py

# Lambda build artifacts
backend/lambda.zip
backend/package/