fastapi
uvicorn
pydantic
mangum
python-multipart

boto3
botocore

numpy
pandas

chromadb
sentence-transformers
pypdf

strands-agents
strands-agents-tools

bedrock-agentcore
bedrock-agentcore-starter-toolkit